$bloc-background-color: blue;
$terrain-background-color: green;
$terrain-separator: orange;

.terrain {
    background-color: $terrain-background-color;
    width: 600px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding-top: 15px;

    .blocs-container {
        width: 500px;
        height: 625px;
        margin-top:25px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;

        .left-bloc {
            width: 60px;
            height: 100%;
            border: 2px solid white;
            background-color: $bloc-background-color;

        }

        .center-blocs {
            width: 367px;
            height: 100%;
            border: 2px solid white;

            .center-blocs-1 {
                width: 100%;
                height: 24.5%;
                border-bottom: 2px solid white;
                background-color: $bloc-background-color;

                .top-middle-bloc-separator {
                    height: 15%;
                    width: 50%;
                    border-right: 4px solid white;
                }

            }

            .center-blocs-2 {
                width: 100%;
                height: 25%;
                border-bottom: 2px solid white;
                display: flex;
                flex-direction: row;

                .bloc {
                    width: 50%;
                    height: 100%;
                    border: 2px solid white;
                    background-color: $bloc-background-color;
                    display: flex;
                    flex-direction: column;

                    .sous-bloc-1 {
                        width: 100%;
                        height: 50%;
                    }

                    .sous-bloc-2 {
                        width: 100%;
                        height: 50%;
                        border-bottom: 4px solid $terrain-separator;
                    }
                }
            }

            .center-blocs-3 {
                width: 100%;
                height: 25%;
                border-bottom: 2px solid white;
                display: flex;
                flex-direction: row;

                .bloc {
                    width: 50%;
                    height: 100%;
                    border: 2px solid white;
                    background-color: $bloc-background-color;
                    display: flex;
                    flex-direction: column;

                    .sous-bloc-1 {
                        width: 100%;
                        height: 50%;
                        border-top: 4px solid $terrain-separator;
                    }

                    .sous-bloc-2 {
                        width: 100%;
                        height: 50%;
                    }
                }
            }

            .center-blocs-4 {
                width: 100%;
                height: 24.5%;
                border-bottom: 2px solid white;
                background-color: $bloc-background-color;
                display: flex;
                flex-direction: column;

                .sous-bloc-1 {
                    height: 85%;
                    width: 50%;
                }

                .sous-bloc-2 {
                    height: 15%;
                    width: 50%;
                    border-right: 4px solid white;
                }

            }
            
        }

        .right-bloc {
            width: 60px;
            height: 100%;
            border: 2px solid white;
            background-color: $bloc-background-color;
        }
    }
}